* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(251, 251, 251);
  --color-secondary: #c6a246;
  --text-color: #000;
  --color-white: #fff;
  --color-black: #000;
  --grd-color: linear-gradient(gold, white);
  --box-shadow-1: 0 3px 15px rgba(255, 255, 255, 0.4);
}

body {
  background-color: var(--color-white);
  font-family: FuturaBook;
  font-size: 1.1rem;
  color: var(--text-color);
}

.header-section {
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
  width: 100vw;
  color: #fff;
  border-bottom: 15px gold solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
.header-section .header-contact {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.header-section .header-contact .contact-container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  width: 1140px;
  font-size: 2rem;
}
.header-section .header-nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}
.header-section .header-nav .nav-container {
  display: flex;
  padding: 10px 0px;
  width: 1140px;
}
.header-section .header-nav .nav-container .header-logo {
  flex: 1;
}
.header-section .header-nav .nav-container .header-logo img {
  width: 470px;
}
.header-section .header-nav .nav-container .nav-list {
  flex: 2;
}
.header-section .header-nav .nav-container .nav-list ul {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-section .header-nav .nav-container .nav-list ul li {
  margin: 0px 15px;
  list-style-type: none;
}
.header-section .header-nav .nav-container .nav-list ul li a {
  color: #fff;
  text-decoration: none;
}
.header-section .header-nav .nav-container .nav-list ul li a:hover {
  color: var(--color-secondary);
}
.header-section .header-featured {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  position: relative;
}
.header-section .header-featured .featured-container {
  width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header-section .header-featured .featured-container h1 {
  font-size: 4rem;
  margin: 20px 0;
}
.header-section .header-featured .featured-container p {
  background-image: linear-gradient(to bottom left, gold, white, gold);
  padding: 20px 40px;
  border-radius: 5px;
}

.featured-section {
  background-image: url("/img/brickwork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.featured-section .featured-container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
}
.featured-section .featured-container .featured-right {
  padding: 0 35px;
}

.block-section {
  width: 100vw;
  display: flex;
}
.block-section .block-container {
  display: flex;
}
.block-section .block-container .block-link {
  position: relative;
}
.block-section .block-container .block-link img {
  width: 475px;
}
.block-section .block-container .block-link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, gold, white, gold);
  opacity: 0.7;
}

.endorsment-section {
  width: 100vw;
  height: 400px;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.endorsment-section .endorsment-container {
  text-align: center;
  width: 1120px;
}
.endorsment-section .endorsment-container .stars {
  color: var(--color-secondary);
  width: 100%;
  font-size: 2.5rem;
}
.endorsment-section .endorsment-container h2 {
  color: var(--color-secondary);
  width: 100%;
  margin: 20px 0;
  font-size: 2.5rem;
}
.endorsment-section .endorsment-container p {
  width: 100%;
  font-size: 1.5rem;
}

.service-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-section .service-container {
  margin: 100px 0;
  width: 1120px;
  display: flex;
}
.service-section .service-container .service-left {
  flex: 1;
  color: var(--color-secondary);
  margin: 0 10px;
  font-size: 1.5rem;
}
.service-section .service-container .service-right {
  flex: 2;
  color: grey;
}
.service-section .service-container .service-right .service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style-position: inside;
}
.service-section .service-container .service-right .service-grid li {
  margin-bottom: 30px;
}

.area-section {
  background-image: url("/img/area.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.area-section .area-container {
  width: 1120px;
  display: flex;
}
.area-section .area-container .location-icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 4rem;
  color: var(--color-secondary);
}
.area-section .area-container .area-caption {
  flex: 6;
  display: flex;
  flex-direction: column;
}
.area-section .area-container .area-caption h1 {
  color: var(--color-secondary);
  font-size: 2.5rem;
  line-height: 35px;
  margin-bottom: 20px;
}
.area-section .area-container .area-caption p {
  color: lightgrey;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.area-section .area-container .area-caption ul {
  display: flex;
  list-style-position: inside;
  color: lightgrey;
}
.area-section .area-container .area-caption ul li {
  margin-right: 30px;
  font-size: 1.2rem;
}

.footer-section {
  background-color: #000;
  color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-section .footer-top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  width: 100vw;
  height: 430px;
}
.footer-section .footer-top-section .footer-top-container {
  display: flex;
  width: 1120px;
}
.footer-section .footer-top-section .footer-top-container .footer-logo {
  width: 280px;
}
.footer-section .footer-top-section .footer-top-container .footer-logo img {
  width: 280px;
}
.footer-section .footer-top-section .footer-top-container .footer-logo h3 {
  font-size: 2.3rem;
  margin: 30px 0;
}
.footer-section .footer-top-section .footer-top-container .footer-logo p {
  font-size: 1.5rem;
}
.footer-section .footer-top-section .footer-top-container .footer-map {
  padding: 0 60px;
}
.footer-section .footer-top-section .footer-top-container .footer-links ul {
  list-style-type: none;
}
.footer-section .footer-top-section .footer-top-container .footer-links ul li {
  margin-bottom: 30px;
}
.footer-section .footer-top-section .footer-top-container .footer-links ul li a {
  text-decoration: none;
  color: #fff;
}
.footer-section .footer-top-section .footer-top-container .footer-links ul li a:hover {
  color: var(--color-secondary);
}
.footer-section .footer-bottom-section {
  background-color: var(--color-secondary);
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.footer-section .footer-bottom-section .footer-bottom-container {
  display: flex;
  width: 1140px;
  justify-content: flex-start;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
