
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
 }
 
 :root {
    --color-primary: rgb(251, 251, 251);
    --color-secondary: rgb(216, 142, 5);
    --text-color: #000;
    --color-white: #fff;
    --color-black: #000;
    --grd-color: linear-gradient(gold, white);
    --box-shadow-1: 0 3px 15px rgba(255, 255, 255, 0.4);
 }
 
 body {
   background-color: var(--color-white);
   font-family: FuturaBook;
   font-size: 1.1rem;
   color: var(--text-color);
}


.header-section{
   background-image: url("/img/header.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 750px;
   width: 100vw;
   color: #fff;
   border-bottom: 15px gold solid;
   display: flex;
   align-items: center;
   flex-direction: column;
   position: relative;

   &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
      
      
   }

   .header-contact{
      position: relative;
      display: flex;
      justify-content: center;
      width: 100vw;

      .contact-container{
         
         padding: 10px;
         display: flex;
         justify-content: flex-end;
         width: 1140px;
         font-size: 2rem;
      }
   }


   .header-nav{
      width: 100vw;
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.8);
      position: relative;
      
      .nav-container{
         display: flex;
         padding: 10px 0px;
         width: 1140px;

         .header-logo{
            flex: 1;
            img{
               width: 470px;
            }
         }

         .nav-list{
            flex: 2;
            ul{
               display: flex;
               align-items: center;
               height: 100%;

               li{
                  margin: 0px 15px;
                  a{
                     color: #fff;
                  }
                  
               }
            }
         }
      }
   }
   
   .header-featured{
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 100%;
      position: relative;

      

      .featured-container{
         width: 1140px;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;

         h1{
            font-size: 4rem;
            margin: 20px 0;
         }

         p{
            background-image: linear-gradient(to bottom left, gold, white, gold);
            padding: 20px 40px;
            border-radius: 5px;
         }
         
        
      }
   }


}